<template>
  <div>
    <nav class="navbar">
        <nuxt-link to="/" class="nav-links">Home</nuxt-link>
      <ul>
        <li v-for="item of navitems" class="nav-links">
          <nuxt-link v-bind:to="'/'+ item.lien">{{item.titre}}</nuxt-link>
        </li>
      </ul>
    </nav>
  </div>

</template>

<script>

  export default {

      data: function(){
        return {
          navitems : [
            {titre: 'Info', lien: 'Info'}, {titre: 'Nos Produits', lien: 'Produits'}, {
              titre: 'Nous contacter',
              lien: 'contact'
            }
          ]
        }

      },

        name: "NavBar"
    }
</script>

<style scoped>

</style>
