<template>
  <div>
    <h1 class="title">Premier essaie de la librairie NuxtJS </h1>
  </div>

</template>

<script>
    export default {
        name: "Titien"

    }
</script>

<style scoped>

</style>
