<template>
  <div>
    <NavBar/>
    <Nuxt />
  </div>
</template>

<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color:black;
}
.navbar {
  display:flex;
  justify-content:space-between;
  padding:20px;
  top:0;
  width:100%;
  background-color: mediumturquoise;
  height: 80px;
}
ul{
  display:flex;
  justify-content: flex-end;
}
.nav-links {
  border-bottom : 2px solid black;
  font-size: 25px;
  margin-left:20px;

}

</style>
<script>
  import NavBar from "../components/NavBar";
  export default {
    components: {NavBar}
  }
</script>
