<template>

    <div class="container">
      <Titien />
      <h1 class="title">
      </h1>
    </div>
</template>

<script>

export default {

}
</script>

<style>
.container {
  margin: 0 auto;
  width :100%;

}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align:center;
  margin-top: 250px;
}

</style>
